attrs
certifi
charset-normalizer
colorama ; sys_platform == 'win32'
darkdetect
flatbuffers
hpyt ; sys_platform == 'win32'
idna
imageio
jsonschema
jsonschema-specifications
lazy-loader
llvmlite
maliang
mpmath
networkx          # 不再锁定版本
numba
numpy
onnxruntime
packaging
pillow
platformdirs
pooch
protobuf
pymatting
pyobjc-core ; sys_platform == 'darwin'
pyobjc-framework-cocoa ; sys_platform == 'darwin'
pywinstyles ; sys_platform == 'win32'
referencing
rembg
requests
rpds-py
scikit-image
scipy
sympy
tifffile
tqdm
typing-extensions
urllib3
win32material ; sys_platform == 'win32'
