name: Package with PyInstaller

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Package Application
        uses: JackMcKew/pyinstaller-action-windows@main
        with:
          path: maliang_ui # 指向包含 main.py 和 requirements.txt 的文件夹

      - uses: actions/upload-artifact@v4
        with:
          name: RembgApp-Windows
          path: maliang_ui/dist/windows/ # 默认输出路径
